.container-div {
    width: 100%;
    height: 75px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    font-size: larger;
    display: none;
}

.addButton {
    transition-duration: 0.4s;
    border: 2px solid darkgreen;
    border-radius: 5px;
    width: 80%;
    height: 45px;
    align-self: center;
    font-size: larger;
    color: darkgreen;
}

.addButton:hover {
    background-color: green;
    color: white;
}

#loading {
    width: 100%;
    height: 100%;
    background-image:url('/bar.gif');
}

.error {
    border: 1px solid red;
    color: red;
}

.success {
    border: 2px solid darkgreen;
    color: darkgreen;
}
.free-space-text {
    color: darkgreen;
}

.gb-text {
    font-weight: bold;
}

.container-div p {
    height: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 2px;
    font-size: smaller;
}

.file_man_link {
    margin-left: 20px;
    text-decoration: none;
    border-bottom: none !important;
}
